
<div class="row">
    <div class="col-xs-12">
        <form>            
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="name">name</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label for="amout">Quantidade</label>
                    <input type="text" id="amount" class="form-control">
                </div>
            </div>
            
            <div class="row">                
                <div class="col-xs-12">                    
                    <button type="submit" class="btn btn-success" style="margin-right: 5px;">Adicionar</button>
                    <button type="button" class="btn btn-danger" style="margin-right: 5px;">Remover</button>
                    <button type="button" class="btn btn-secondary" style="margin-right: 5px;">Limpar</button>   
                </div>                
            </div>
        </form>
    </div>
</div>
